.bg-navy {
    background-color: #007cb8; /* Código hexadecimal para o azul marinho */
}

.nav-item a {
    color: white;
    cursor: pointer;
}
.nav-item a:hover {
    color: #1e1e1e;
}

.apostarlinkclass {
    font-weight: 700;
}

#samenu-btn {
    margin-right: 10px;
}